## Accessing MySql objects through python

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp37-cp37m-manylinux1_x86_64.whl (23.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 11.3 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /home/unnathi/anaconda3/lib/python3.7/site-packages (from mysql-connector-python) (3.20.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.31
Note: you may need to restart the kernel to use updated packages.

#### MVC - Model View Controller
#### ORM - Object Relational Model

### Importing requried libraries

In [51]:
import mysql.connector

In [52]:
# connect() - will open a connection to a  MySQL server and return a MySQLConnection object.
database = mysql.connector.connect(host="localhost",database="pytrain",user="root",password="password") 
database

In [10]:
help(mysql.connector.connect)

Help on function connect in module mysql.connector.pooling:

connect(*args, **kwargs)
    Create or get a MySQL connection object.

    In its simpliest form, connect() will open a connection to a
    MySQL server and return a MySQLConnection object.

    When any connection pooling arguments are given, for example pool_name
    or pool_size, a pool is created or a previously one is used to return
    a PooledMySQLConnection.

    Returns MySQLConnection or PooledMySQLConnection.

In [53]:
# preparing a cursor object
cursorObject=database.cursor()

In [ ]:
# creating a database 
# cursorObject.execute("create database pytrain")

In [34]:
# creating a table 
studentRecord = """ create table student(name varchar(40) not null ,branch varchar(60),roll int not null,
section varchar(40),age int ) """
cursorObject.execute(studentRecord)

In [54]:
# disconnecting from server
database.close()

In [37]:
# Insert data into tables : 
# Example1 : Inserting Single Row - use execute() method
db = mysql.connector.connect(host="localhost",database="pytrain",user="root",password="password") 
curObject=db.cursor()
sql=""" insert into student(name,branch,roll,section,age) values(%s,%s,%s,%s,%s)"""
val=("Joshua","CSE","17","K","25")
curObject.execute(sql,val)
db.commit()
db.close()

In [40]:
# Example2 : Inserting mutliple rows - use executemany() method
db = mysql.connector.connect(host="localhost",database="pytrain",user="root",password="password") 
curObject=db.cursor()
sql=""" insert into student(name,branch,roll,section,age) values(%s,%s,%s,%s,%s)"""
val=[("Vernon","CSE","18","A","22"),("Scoups","ISE","19","B","27"),("Mingyu","Mech.","20","C","25")]
curObject.executemany(sql,val)
db.commit()
db.close()

In [57]:
# Fetching values from database - use fetchall() method
db = mysql.connector.connect(host="localhost",database="pytrain",user="root",password="password") 
curObject=db.cursor()
curObject.execute("select * from student")
c=curObject.fetchall()
c

[('Joshua', 'CSE', 17, 'K', 25),
 ('Vernon', 'CSE', 18, 'A', 22),
 ('Scoups', 'ISE', 19, 'B', 27),
 ('Mingyu', 'Mech.', 20, 'C', 25)]

In [58]:
# Fetching two columns from database
query=""" select name,roll from student """
curObject.execute(query)
myresult=curObject.fetchall()
for i in myresult:
    print(i)
db.close()

('Joshua', 17)
('Vernon', 18)
('Scoups', 19)
('Mingyu', 20)

In [60]:
# Self-Join - A table joins itself is called self join
db = mysql.connector.connect(host="localhost",database="pytrain",user="root",password="password") 
curObject=db.cursor()
empRecord = """ create table emp(empid int not null,
name varchar(40),mgrid int ) """
curObject.execute(empRecord)

In [63]:
sql=""" insert into emp(empid,name,mgrid) values(%s,%s,%s)"""
val=[("10","A","20"),("20","B","30"),("30","C","10"),("40","D","15")]
curObject.executemany(sql,val)
db.commit()
db.close()

In [68]:
db = mysql.connector.connect(host="localhost",database="pytrain",user="root",password="password") 
curObject=db.cursor()
curObject.execute("select * from emp")
c=curObject.fetchall()
c

[(10, 'A', 20),
 (20, 'B', 30),
 (30, 'C', 10),
 (10, 'A', 20),
 (20, 'B', 30),
 (30, 'C', 10),
 (10, 'A', 20),
 (20, 'B', 30),
 (30, 'C', 10),
 (40, 'D', 15)]

In [69]:
q1=""" SELECT a.empid, a.name,b.name
FROM emp a , emp b
WHERE  a.mgrid=b.empid """
curObject.execute(q1)
myresult=curObject.fetchall()
for i in myresult:
    print(i)
db.close()

(30, 'C', 'A')
(30, 'C', 'A')
(30, 'C', 'A')
(10, 'A', 'B')
(10, 'A', 'B')
(10, 'A', 'B')
(20, 'B', 'C')
(20, 'B', 'C')
(20, 'B', 'C')
(30, 'C', 'A')
(30, 'C', 'A')
(30, 'C', 'A')
(10, 'A', 'B')
(10, 'A', 'B')
(10, 'A', 'B')
(20, 'B', 'C')
(20, 'B', 'C')
(20, 'B', 'C')
(30, 'C', 'A')
(30, 'C', 'A')
(30, 'C', 'A')
(10, 'A', 'B')
(10, 'A', 'B')
(10, 'A', 'B')
(20, 'B', 'C')
(20, 'B', 'C')
(20, 'B', 'C')

### Temp Table spaces where order by happens in databases

In [70]:
db = mysql.connector.connect(host="localhost",database="pytrain",user="root",password="password") 
curObject=db.cursor()
curObject.execute("select * from student")
c=curObject.fetchall()
c

[('Joshua', 'CSE', 17, 'K', 25),
 ('Vernon', 'CSE', 18, 'A', 22),
 ('Scoups', 'ISE', 19, 'B', 27),
 ('Mingyu', 'Mech.', 20, 'C', 25)]

In [76]:
q2=""" select * from student order by roll """
curObject.execute(q2)
myresult=curObject.fetchall()
for i in myresult:
    print(i)

('Joshua', 'CSE', 17, 'K', 25)
('Vernon', 'CSE', 18, 'A', 22)
('Scoups', 'ISE', 19, 'B', 27)
('Mingyu', 'Mech.', 20, 'C', 25)

In [77]:
db.close()